<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <title>About Us</title>
</head>
<body>
<div layout:fragment="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium, adipisci consequatur delectus dicta
        dolore minus, mollitia perferendis quia quibusdam, reiciendis rem rerum tempore unde voluptate. Doloribus, ea
        eius eum exercitationem iusto odit possimus quasi ratione? Cupiditate dicta dolorem eaque error exercitationem
        fuga harum illo, ipsa, optio porro quae quis.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium amet aspernatur consectetur delectus
        dignissimos eos error eum eveniet, id incidunt iste itaque labore laboriosam laudantium libero minus modi
        mollitia nemo nesciunt nihil nobis placeat porro quae quaerat quas quia quibusdam quidem quis saepe suscipit
        totam ullam voluptate. Cumque doloribus error explicabo non optio quibusdam temporibus tenetur! Aspernatur
        fugiat harum incidunt praesentium quae quam quos, ratione tempore tenetur voluptas. Ad aperiam asperiores
        aspernatur atque consectetur cum, cumque cupiditate debitis dolorem enim facilis illum iure laboriosam laborum
        magnam nam numquam optio, perspiciatis porro quam quo ratione reiciendis sint sunt ullam unde.</p>
</div>
</body>
</html>