<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <title>Home Page</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Kanban</h1>
    <hr>
    <div class="card-group">
        <th:block th:each="c: ${columns}">
            <div th:replace="~{fragments/column :: column(id=${c.id},color=${c.getColor()}, title=${c.title}, description=${c.description}, cards=${c.cards})}"></div>
        </th:block>
    </div>
</div>
</body>
</html>